[package]
name = "netgrasp"
version = "0.10.3"
authors = ["Jeremy Andrews <jeremy@tag1consulting.com>"]
edition = "2018"

[dependencies]
rqpush = "^0.4"
smoltcp = "^0.5.0"
clap = "^2.33.0"
simplelog = "^0.7"
log = "^0.4.6"
get_if_addrs = "^0.5.3"
dns-lookup = "^1.0.0"
oui = "^0.6.0"
eui48 = "^0.4.6"
directories = "^2.0.1"
lazy_static = "^1.3.0"
reqwest = "^0.9.17"
diesel = { version = "^1.4", features = ["sqlite", "numeric"] }
diesel_migrations = "^1.4"
handlebars = "^2"
serde = "^1"
serde_json = "^1"
serde_derive = "^1"
chrono = "^0.4"
