[package]
name = "netgrasp"
version = "0.10.0"
authors = ["Jeremy Andrews <jeremy@tag1consulting.com>"]
edition = "2018"

[dependencies]
smoltcp = "^0.5.0"
clap = "^2.33.0"
simplelog = "^0.5.3"
log = "^0.4.6"
get_if_addrs = "^0.5.3"
sqlite = "^0.24.1"